html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}

body {
    background-color: #f0f0f0;
}

.pane {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

#example-container {
    margin: 15px auto;
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: white;
}

#example-container > label {
    font-weight: bolder;
}

#container {
    margin: 10px;
}

#code-area {
    display: block;
}

#solid-code {
    display: block;
    border: 1px solid #d5d5d5;
    border-bottom: none;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: calc(100% - 40px);
}

#solid-code:focus {
    outline: 0;
}

#render-button {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: none;
    background-color: #65bcd4;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    cursor: pointer;
}

#render-button:focus {
    outline: 0;
}

#render-button:hover {
    background-color: #459cb4;
}

#rendering {
    display: block;
    width: 300px;
    height: 300px;
}

@media (max-width: 620px) {
    #code-area {
        width: 100%;
        margin: 10px 0;
        height: 200px;
    }

    #rendering {
        margin: 10px auto;
    }
}

@media (min-width: 620px) {
    #code-and-rendering::after {
        content: ' ';
        display: block;
        clear: both;
    }

    #code-area {
        float: right;
        width: calc(100% - 310px);
        height: 300px;
        margin: 0;
    }

    #rendering {
        float: left;
        margin: 0;
    }
}

#explanation {
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
    max-width: 600px;
}

#explanation > h1 {
    padding: 0;
    margin: 0;
}
